.homeconent {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .btnbox {
    width: 200px;
    height: 400px;
    position: absolute;
    z-index: 300;
    top: 200px;
    left: 400px;
    background-color: indianred;
    div {
      border: 1px solid rebeccapurple;
      height: 30px;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
    }
  }
  i {
    font-style: normal;
  }
  .conent {
    z-index: 2;

    // .Databack{
    //     width: 830px;
    //     height: 972px;
    //     background: url("../../assets/images/databj.png") no-repeat top;
    //     background-size: cover;
    //     .title{
    //         display: flex;
    //         justify-content: center;
    //         margin-top: 22px;
    //     }
    // }
  }
}
