.echarstwo {
  width: 230px;
  height: 200px;
  overflow: hidden;
  position: absolute;
  left: 30px;
  top: 480px;
  z-index: 300;
  .pieChart {
    width: 200px;
    height: 180px;
    border: 4px solid grey;
  }
}
